/* General styles */

/* navbar styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  nav {
    background-color: #333;
    color: white;
  }
  
  .tabs {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 20px 0;
  }
  
  .tab {
    margin: 0 10px;
  }
  
  .tab a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  .tab a:hover {
    color: #ff9900;
  }
  

  /* Footer styles */

footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px 0;
    margin-top: 20px;
  }
  
  footer p {
    margin: 0;
  }
  
  footer a {
    color: white;
    text-decoration: none;
  }
  
  footer a:hover {
    color: #ff9900;
  }



  /* Products styles  */
  /* Reset default styles */
body, h1, h2, p {
    margin: 0;
    padding: 0;
  }
  
  /* General styles */
  body {
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
  }
  
  main {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
  }
  
  .product {
    width: 30%;
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    background-color: #f8f8f8;
  }
  
  .product img {
    max-width: 100%;
  }
  
  .price {
    font-weight: bold;
    color: #ff9900;
  }
  
  footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
  }
  



/* Contact page styles */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
  }
  
  form {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  input, textarea, button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  button {
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .map {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  iframe {
    width: 100%;
    max-width: 600px;
    height: 300px;
    border: none;
  }
  